@font-face {
    font-family: Operator;
    src: url(../fonts/OperatorMono-Book.otf);
}

html, body {
  font-family: Operator;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

h1 {
  font-size: 40px;
}

#header {
  border: solid;
  background-color: #99FFCC;
  height: 150px;
  max-width: 1200px;
  margin: 0px auto !important;

}

#topHeader {
  display: flex;
  height: 80%;
  line-height: 75px;
  align-items: baseline;
  justify-content: space-around;
}

#topHeader > h3 {
  line-height: 10px;
  align-self: center;
}

#headerVerticalLine {
  border-left:1px solid black;
  height: 100px;
  align-self: center;
}

span {
  
}

.headerButtons:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: pink;
}

#navigator {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #DCDCDC;
  border-bottom: solid;
}

.navLine {  
  border-left: 1px solid black;
  height: 30px;
}

#content {
  /*position: relative*/
  max-width: 1200px;
  margin: auto !important;
  background-color: #D1D1D1;
  height: 100%;

  /*position: absolute;*/
}

#preContent {
  
  /*margin: auto !important;*/
  padding-top: 0px;
  display: flex;
  justify-content: center;
  

}

#main

h4 {
  font-size: 28px;
  height: 50px;
  margin: 20px;
}

.mainButton {

}

#mainContent {
  display: flex;
  justify-content: space-around;
}

#guideContent {
  background-color: white;
  border-left: .5px solid grey;
}

.circle {

} 

.topTextCircle {

} 

.bottomTextCircle {

} 

.imageCropper {
  width: 266px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.mainContentImages {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.frontPagePopFrameText {
  display: block;
  text-align: center;
}

#mainGuidePreContent {
  height: 100px;
}

/* mainGuide.html specific */
#mainGuideButtonsWrapper {
  display: flex;
  padding: 15px;
}

.mainButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right: 15px;
}

.mainButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#formWrapper {
  margin-left: 15px;
}
#formWrapper input {
  width: 70%;
  height: 16px;
}

.standardContentView {
  /*position: relative;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid;
  background-color: #F5F5F5;
  max-width: 1200px;
  height: 100%;
  margin: 10px;

}

.standardContentImages {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.imageCropperStandard {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

}
.circle {
  text-align: center;
}

/*End mainGuide specific */

/*Start guideSpecificFranchise */
#topPreHeaderFranchise {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.franchiseImage {
  max-width: 200px;
  max-height: 100px;
  float: left;
}



#topPreHeaderFranchise .mainButton {
  max-width: 155px;
  max-height: 25px;
  margin-top: 20px;

}

#filterSearchForm {
  margin: 15px;
}

#filterSearchText {
  width: 40%;
  height: 20px;
}

select {
  

}

/*End guideSpecificFranchise */

/* Start myStuff */

h5 {
  font-size: 20px;
  text-align: center;
}

#userCollectionWishlistBox {
  margin-top: 15px;
  border: 3px solid black;
}

#userCollectionWishlistBox .mainButton {
  font-size: 14px;
}

#buttonsWrapper {
  display: flex;
  padding: 15px;
}

#userCollectionWishlistBox {
  margin-left: 15px;
  margin-right: 25px;
}

#myStuffPreContent {
  
  /*margin: auto !important;*/
  padding-top: 0px;
  display: flex;
  width: 100%;
  /*justify-content: center;*/
  
}

#stuffForm {
  align-self: flex-end;
}

#myStuffFormSplit {
  margin-top: 35px;
  position: relative;
  
}

#myStuffFilterSearch {
  width: 300px;
}

/* End myStuff */


/* start loginForm */
#loginSignupBody {
  max-width: 600px;
  max-height: 300px;
  border: 2px solid blue;
  margin: auto;
}

#loginSignupBody h4 {
  text-align: center;
}

#loginSignupForm {
  margin: auto;
}
#loginSignupForm form {
  max-width: 200px;
  margin: auto;

}

#loginSignupForm input {
  margin: auto;
  font-size: 16px;
}

#loginSinupButtonWrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#loginSinupButtonWrapper .mainButton {
  max-width: 200px;
  /*margin: auto;*/
  
}

/* end loginForm */


/* start addtoCollection */

#addToCollectionBody {
  width: 700px;
  height: 600px;
  border: 2px solid blue;
  margin: auto;
}

#addToCollectionBody h3 {
  text-align: center;
  font-size: 24px;
}
#addCollImg {
  padding: 1px;
  border: 1px solid black;
  margin-right: 20px;
}


/* end addToCollection */

/* start specificItem */
#itemHeader {
  margin-left: 20px;
}

#specificItemPreContent {
  padding-top: 0px;
  display: flex;
  /*justify-content: space-between;*/
}

#specificItemImage {
  border: 1px solid black;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 300px;
}

#itemHeader .mainButton {
  font-size: 14px;
  text-align: center;

}
#itemHeaderButtonWrapper {
  display: flex;
  justify-content: center;
}

#specificItemTableWrapper {
  align-self: center;
  margin-left: 100px;
}

#specificItemTableWrapper table, #specificItemTableWrapper td {
  border: 1px solid black;
}



#specificItemActualContent {
  margin-top: 20px;
  margin-left: 20px;
}

/* end specificItem */


/* start news */
#newsContent {
  display: flex;
  justify-content: space-between; 
  background-color: #D1D1D1;
  max-width: 1200px;
  margin: auto;
}
/* end news */
